<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
18:53:00
蔡俊杰17608412796 2020/6/2 18:53:00
<table>
     <!-- 表头部分 -->
     <thead>
        <tr>
           <th>id</th>
           <th>name</th>
           <th>remark</th>
           <th>createdTime</th>
        </tr>
     </thead>
     <!-- 表体部分 -->
     <tbody>
         <!-- 借助thymeleaf模板引擎中的属性获取对象中的值并进行呈现 -->
        <tr th:each="g:${list}">
           <td th:text="${g.id}"></td>
           <td th:text="${g.name}"></td>
           <td th:text="${g.remark}"></td>
          <!--<td th:text="${g.createdTime}"></td>-->
           <td th:text="${g.createdTime}"></td>
           <td>
           <a  th:href="@{/goods/deleteById(id=${g.id})}">delete</a>
           </td>
        </tr>
        
     </tbody>
     <form action="/goods/insertbyid" method="get">
     <tr>
         <td>id</td>
         <td><input type="text" name="id" /></td>
      </tr>
      <tr>
      <td>name</td>
     <td> <input type="text" name="name"/></td>
      </tr>
      <tr>
       <td>remark</td>
     <td> <input type="text" name="remark"/></td>
     </tr>
     <tr>
     <td>createdTime</td>
     <td> <input type="text" name="createdTime"/></td>
     </tr>
     <td> <input type="submit" value="Submit"/>提交</td>
     </tr>
     </form>
  </table>
</body>
</html>